@use "variables";
@use "mixin" as m;
html {
  font-family: yamamotoan-classic-stdn, sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
  max-width: 100vw;
  scroll-behavior: smooth;
}
body {
  background-image: url(../img/background_washi.jpeg);
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  @include m.mq(tab) {
    max-width: 1024px;
  }
  @include m.mq(sp) {
    max-width: 768px;
  }
}
a {
  text-decoration: none;
  color: #fff;
}
h1 {
  font-weight: 800;
  font-style: normal;
}
.wrapper {
  width: 100%;
  max-width: 100vw;
  margin: 200px 9%;
}
//menu
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  padding: 0;
  top: 20px;
  left: 10px;
  z-index: 999;
  @include m.mq(sp){
    left: -40px;
    top: -85px;
    width: 120px;
  }
  li {
    &:nth-of-type(1){
      top: 350px;
      left: 40px;
      box-shadow: rgba(240, 241, 229,0.95) 0 0 10px ;
      background-color: rgba(240, 241, 229);
      z-index: 2;
      animation: main_In forwards;
      animation-delay: 1.4s;
      animation-duration: 0.8s;
      @include m.mq(sp){
        width: 95px;
        height: 95px;
        font-size: 1.8rem;
        top: 340px;
        left: 50px;
      }

    
    }
    &:nth-of-type(2){
      top: 120px;
      left: 130px;
      width: 150px;
      height: 150px;
      font-size: 2.4rem;
      z-index: 3;
      animation: main_In forwards;
      animation-delay: 1.2s;
      animation-duration: 0.8s;
      @include m.mq(sp){
        width: 110px;
        height: 110px;
        font-size: 1.8rem;
        top: 160px;
        left: 110px;
      }
    
    }
    &:nth-of-type(3){
      top: 160px;
      left: 95px;
      width: 110px;
      height: 110px;
      font-size: 2rem;
      animation: main_In forwards;
      animation-delay: 1.6s;
      animation-duration: 0.8s;
      @include m.mq(sp){
        top: 200px;
        width: 80px;
        height: 80px;
        font-size: 1.6rem;
      }

    
      span{
        font-size: 1rem;
  
      }
    }
    transition: 0.8s;
    opacity: 0;
    display: flex;
    flex-direction: column;;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(69, 36, 0);
    box-shadow: rgba(69, 36, 0,0.95) 0 0 20px ;
        &:not(:first-child){
      margin-top: 5px;
      // border-bottom: 1px solid #000;
    }
    width: 130px;
    height: 130px;
    position: relative;
    list-style: none;
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(243, 117, 0);
    span{
      font-size: 1.3rem;
    }
    @include m.mq(sp){
      font-size: 1.8rem;
    }
    // &:nth-of-type(1) {
    //   animation: menu_In forwards;
    //   animation-duration: 1s;
    //   animation-delay: 1s;
    // }
    // &:nth-of-type(2) {
    //   animation: menu_In forwards;
    //   animation-duration: 1s;
    //   animation-delay: 1.25s;
    // }
    // &:nth-of-type(3) {
    //   animation: menu_In forwards;
    //   animation-duration: 1s;
    //   animation-delay: 1.5s;
    // }
    // @keyframes menu_In {
    //   0% {
    //     opacity: 1;
    //     transform: translateX(200px);
    //   }
    //   100% {
    //     opacity: 1;
    //     transform: translateX(0);
    //   }
    // }
    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    // &::after{
    //   top: 6%;
    //   left: 2.5%;
    //   position: absolute;
    //   content: "";
    //   width: 94%;
    //   height: 86%;
    //   border: 1px solid rgb(144, 92, 40);
    // }
  }
}


//scroll-animation
.v_inblur {
  opacity: 0;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
.visible_blur {
  animation-name: visible_blur;
  transition: 0.5s;
  @keyframes visible_blur {
    from {
      opacity: 0;
      filter: blur(15px);
    }
    to {
      opacity: 1;
      filter: blur(0);
    }
  }
}
.v_inup {
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.visible_inup {
    animation-name: visible_inup;
    transition: .5s;
  @keyframes visible_inup {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
//使い回しpadding
.sec_padding{
  padding: 5% 0;
  @include m.mq(sp) {
    padding: 15% 0;
  }
}
//見出し
.subtitle{
  font-size: 5rem;
  text-align: center;
  margin: 0;
  span{
    font-size: 2.5rem;
    position: relative;
    top: -20px;
    @include m.mq(sp){
      font-size: 1.7rem;
    }
  }
}
//inアニメーション
.in_blur{
  animation: in_blur 1s 0.5s forwards;
  @keyframes in_blur {
    from{
      opacity: 0;
      filter: blur(10px);
    }
    to{
      opacity: 1;
      filter: blur(0);
    }
  }
}
.in_scale{
  animation: in_scale 0.8s 0.5s forwards;
  @keyframes in_scale {
    from{
      opacity: 0;
      filter: blur(10px);
     }
    to{
      opacity: 1;
      filter: blur(0);
     }
    } 
  }
.in_slide{
  animation: in_slide 0.8s 0.8s forwards;
  @keyframes in_slide {
    from{
      opacity: 0;
      transform: translateY(50px);
    }
    to{
      opacity: 1;
      transform: translateY(0);
    }    
  }
}

// .news_title{
//   &::after{
//   position: absolute;
//     content: "NEWS";
//     font-size: 3rem;
//     margin: 0 auto;
//   }
// }
