@use "variables";
@use "mixin" as m;
html {
  font-family: yamamotoan-classic-stdn, sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
  max-width: 100vw;
  scroll-behavior: smooth;
}
body {
  background-image: url(../img/background_washi.jpeg);
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  @include m.mq(tab) {
    max-width: 1024px;
  }
  @include m.mq(sp) {
    max-width: 768px;
  }
}
a {
  text-decoration: none;
  color: #fff;
}
h1 {
  font-weight: 800;
  font-style: normal;
}
.wrapper {
  width: 100%;
  max-width: 100vw;
  margin: 200px 9%;
}

//scroll-animation
.v_inblur {
  opacity: 0;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
.visible_blur {
  animation-name: visible_blur;
  transition: 0.5s;
  @keyframes visible_blur {
    from {
      opacity: 0;
      filter: blur(15px);
    }
    to {
      opacity: 1;
      filter: blur(0);
    }
  }
}
.v_inup {
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.visible_inup {
    animation-name: visible_inup;
    transition: .5s;
  @keyframes visible_inup {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
//使い回しpadding
.sec_padding{
  padding: 5% 0;
  @include m.mq(sp) {
    padding: 15% 0;
  }
}
//見出し
.subtitle{
  font-size: 5rem;
  text-align: center;
  margin: 0;
  span{
    font-size: 2.5rem;
    position: relative;
    top: -20px;
    @include m.mq(sp){
      font-size: 1.7rem;
    }
  }
}
//inアニメーション
.in_blur{
  animation: in_blur 1s 0.5s forwards;
  @keyframes in_blur {
    from{
      opacity: 0;
      filter: blur(10px);
    }
    to{
      opacity: 1;
      filter: blur(0);
    }
  }
}
.in_scale{
  animation: in_scale 0.8s 0.5s forwards;
  @keyframes in_scale {
    from{
      opacity: 0;
      transform: scale(0.9);
     }
    to{
      opacity: 1;
      transform: scale(1);
     }
    } 
  }
.in_slide{
  animation: in_slide 0.8s 0.8s forwards;
  @keyframes in_slide {
    from{
      opacity: 0;
      transform: translateY(50px);
    }
    to{
      opacity: 1;
      transform: translateY(0);
    }    
  }
}

// .news_title{
//   &::after{
//   position: absolute;
//     content: "NEWS";
//     font-size: 3rem;
//     margin: 0 auto;
//   }
// }
