@charset "UTF-8";
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "メイリオ", Meiryo, sans-serif;
  max-width: 100vw;
  scroll-behavior: smooth;
}

body {
  background-image: url(../img/background_washi.jpeg);
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}

a {
  text-decoration: none;
  color: #fff;
}

h1 {
  font-family: hot-gfkaishokk, sans-serif;
  font-weight: 800;
  font-style: normal;
}

.wrapper {
  width: 100%;
  max-width: 100vw;
  margin: 200px 9%;
}

.v_inblur {
  opacity: 0;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.visible_blur {
  -webkit-animation-name: visible_blur;
          animation-name: visible_blur;
  transition: 0.5s;
}
@-webkit-keyframes visible_blur {
  from {
    opacity: 0;
    filter: blur(15px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}
@keyframes visible_blur {
  from {
    opacity: 0;
    filter: blur(15px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

.v_inup {
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.visible_inup {
  -webkit-animation-name: visible_inup;
          animation-name: visible_inup;
  transition: 0.5s;
}
@-webkit-keyframes visible_inup {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes visible_inup {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

header {
  z-index: 100;
  display: flex;
  background-color: #EEEAD8;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #000;
  justify-content: center;
}

.main_logo {
  margin: 0 auto;
  padding-left: 70px;
}
.main_logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.openbtn {
  position: relative;
  cursor: pointer;
  width: 70px;
  height: 70px;
}
.openbtn span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 5px;
  background: #000;
  width: 45%;
}
.openbtn span:nth-of-type(1) {
  top: 15px;
}
.openbtn span:nth-of-type(2) {
  top: 25px;
}
.openbtn span:nth-of-type(3) {
  top: 35px;
}
.openbtn span:nth-of-type(3)::after {
  content: "MENU";
  position: absolute;
  top: 10px;
  left: 1px;
  color: #000;
  font-size: 1rem;
}
.openbtn.active span:nth-of-type(1) {
  top: 20px;
  left: 15px;
  transform: translateY(6px) rotate(-45deg);
}
.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}
.openbtn.active span:nth-of-type(3) {
  top: 31px;
  left: 15px;
  transform: translateY(-6px) rotate(45deg);
}
.openbtn.active span:nth-of-type(3)::after {
  content: "CLOSE";
  transform: translateY(0) rotate(-45deg);
  top: 15px;
  left: 18px;
}

.main_visu {
  position: relative;
  width: 100%;
  height: 100vh;
}
.main_visu .link_icon {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgb(70, 31, 0);
  border-radius: 50%;
  padding: 15px;
  opacity: 0.8;
  width: 35px;
  height: 35px;
  z-index: 999;
}
.main_visu .link_icon:nth-of-type(2) {
  left: 85px;
}
.main_visu .link_icon img {
  width: 100%;
}
.main_visu .logo_visu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: -8px;
  width: 100%;
  height: 100%;
  -webkit-animation: main_In forwards;
          animation: main_In forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  opacity: 0;
}
@-webkit-keyframes main_In {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes main_In {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.main_visu .logo_visu img {
  background-color: rgb(240, 241, 229);
  box-shadow: 0 0 15px rgb(240, 241, 229);
  border-radius: 0;
  padding: 3% 5%;
  width: 300px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1024px) {
  .main_visu .logo_visu img {
    width: 250px;
  }
}
@media screen and (max-width: 768px) {
  .main_visu .logo_visu img {
    width: 190px;
  }
}
.main_visu .menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}
@media screen and (max-width: 768px) {
  .main_visu .menu {
    top: 150px;
  }
}
.main_visu .menu li {
  opacity: 0;
  padding: 10px;
  margin: 10px auto;
  list-style: none;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  background-color: #000;
}
.main_visu .menu li:nth-of-type(1) {
  -webkit-animation: menu_In forwards;
          animation: menu_In forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.main_visu .menu li:nth-of-type(2) {
  -webkit-animation: menu_In forwards;
          animation: menu_In forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}
.main_visu .menu li:nth-of-type(3) {
  -webkit-animation: menu_In forwards;
          animation: menu_In forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
@-webkit-keyframes menu_In {
  0% {
    opacity: 1;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes menu_In {
  0% {
    opacity: 1;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#slider {
  width: 100%;
  height: 100vh;
}

.news {
  background-color: rgba(255, 255, 255, 0.543);
  margin: 200px 9%;
  border-radius: 3%;
}
@media screen and (max-width: 768px) {
  .news {
    margin: 100px 1%;
  }
}

.subtitle {
  padding-top: 50px;
  position: relative;
  font-family: hot-gfkaishokk, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 5rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .subtitle {
    font-size: 4rem;
  }
}
.subtitle::after {
  content: "";
  width: 350px;
  height: 100px;
  display: inline-block;
  background-image: url(../img/subtitlebar.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 105px;
}
@media screen and (max-width: 768px) {
  .subtitle::after {
    width: 250px;
    height: 70px;
    top: 90px;
  }
}

dl {
  font-size: 1.5rem;
  padding: 100px 0;
}
dl div {
  display: flex;
  justify-content: flex-start;
  padding-top: 50px;
  justify-content: space-around;
  border-bottom: 1px solid #000;
  margin: 0 15%;
}
@media screen and (max-width: 768px) {
  dl div {
    margin: 0 5%;
  }
}
dl div:first-child {
  padding: 0;
}
dl div dd {
  margin-right: auto;
}
dl div dt {
  margin-right: 5%;
}

.appeal {
  position: relative;
  margin: 400px 9% 200px;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .appeal {
    margin-top: 200px;
    flex-direction: column;
    align-items: center;
  }
}
.appeal h1 {
  width: 330px;
  font-size: 5.5rem;
}
@media screen and (max-width: 1024px) {
  .appeal h1 {
    font-size: 5rem;
  }
}
@media screen and (max-width: 768px) {
  .appeal h1 {
    width: 100%;
    font-size: 4.5rem;
    align-self: flex-start;
  }
}
.appeal p {
  padding-top: 3rem;
  font-size: 2rem;
  line-height: 3.5rem;
  width: 40%;
}
@media screen and (max-width: 1024px) {
  .appeal p {
    font-size: 1.5rem;
    line-height: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .appeal p {
    width: 100%;
    align-self: flex-start;
  }
}

.points {
  margin: 200px 5%;
}
@media screen and (max-width: 768px) {
  .points {
    margin: 50px 1%;
  }
}
.points .sub_pointTitle {
  margin: 300px 20% 50px 9%;
  position: relative;
  z-index: 999;
}
@media screen and (max-width: 1024px) {
  .points .sub_pointTitle {
    margin-top: 100px;
  }
}
.points .sub_pointTitle h1 {
  font-size: 7rem;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .points .sub_pointTitle h1 {
    padding-top: 75px;
    font-size: 5.5rem;
    padding-right: 23px;
  }
}
@media screen and (max-width: 768px) {
  .points .sub_pointTitle h1 {
    font-size: 4rem;
    text-align: left;
    padding-top: 90px;
    margin-bottom: -50px;
    padding-left: 0;
  }
}
.points .sub_pointTitle p {
  font-size: 4rem;
  text-align: center;
  padding-left: 430px;
  margin-top: -50px;
  font-family: hot-gfkaishokk, sans-serif;
  font-weight: 800;
  font-style: normal;
}
@media screen and (max-width: 1024px) {
  .points .sub_pointTitle p {
    font-size: 3rem;
    padding-left: 320px;
  }
}
@media screen and (max-width: 768px) {
  .points .sub_pointTitle p {
    text-align: left;
    padding-left: 150px;
    padding-top: 50px;
    font-size: 2rem;
  }
}
.points .sub_pointTitle img {
  width: 450px;
  position: absolute;
  display: inline-block;
  top: -170px;
  left: 0;
  right: 0;
  margin: auto;
}
@media screen and (max-width: 1024px) {
  .points .sub_pointTitle img {
    top: -70px;
    width: 350px;
  }
}
@media screen and (max-width: 768px) {
  .points .sub_pointTitle img {
    top: 0;
    width: 230px;
    margin-left: 1%;
    left: -50px;
  }
}
.points .card {
  position: relative;
  width: 100%;
  top: -50px;
  text-align: center;
  z-index: 1;
}
.points .card img {
  opacity: 0;
  width: 600px;
  box-shadow: 0 0 15px #000;
  vertical-align: center;
}
@media screen and (max-width: 1024px) {
  .points .card img {
    width: 450px;
  }
}
@media screen and (max-width: 768px) {
  .points .card img {
    width: 100%;
  }
}
.points .card img:nth-of-type(odd) {
  position: absolute;
  top: 20px;
  width: 550px;
}
@media screen and (max-width: 1024px) {
  .points .card img:nth-of-type(odd) {
    top: 25px;
    width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .points .card img:nth-of-type(odd) {
    display: none;
  }
}
.points .card img:nth-of-type(1) {
  z-index: -1;
  left: 0;
}
.points .card img:nth-of-type(3) {
  right: 0;
  z-index: -1;
}

@-webkit-keyframes center_In {
  from {
    opacity: 0;
    transform: translateY(-100px) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes center_In {
  from {
    opacity: 0;
    transform: translateY(-100px) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
.center_In {
  -webkit-animation: center_In forwards;
          animation: center_In forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes right_In {
  from {
    opacity: 0;
    transform: translateX(150px) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes right_In {
  from {
    opacity: 0;
    transform: translateX(150px) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
.r_In {
  -webkit-animation: right_In forwards ease-out;
          animation: right_In forwards ease-out;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.left_h1 {
  padding-left: 25px !important;
}

@-webkit-keyframes left_In {
  from {
    transform: translateX(-150px) scale(0.8);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes left_In {
  from {
    transform: translateX(-150px) scale(0.8);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}
.left_In {
  -webkit-animation: left_In forwards ease-out;
          animation: left_In forwards ease-out;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.shops {
  background-color: rgba(255, 255, 255, 0.543);
  margin-top: 200px;
}

.all_shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  max-width: 100vw;
  margin: 150px 9%;
  padding-bottom: 10%;
}
@media screen and (max-width: 768px) {
  .all_shop {
    width: 100%;
    margin: 100px 0;
  }
}
.all_shop .some_shop {
  position: relative;
  width: 45%;
  margin-bottom: 5%;
  box-shadow: 0 0 15px #000;
}
@media screen and (max-width: 768px) {
  .all_shop .some_shop {
    width: 100%;
  }
}
.all_shop .some_shop img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 768px) {
  .all_shop .some_shop img {
    height: 60vh;
    overflow-x: hidden;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.all_shop .some_shop .shop_info {
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3px;
  margin: auto;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 275px;
  min-width: 200px;
  background-color: rgba(82, 82, 82, 0.722);
}
@media screen and (max-width: 768px) {
  .all_shop .some_shop .shop_info {
    width: 100%;
    max-width: 999px;
    margin: 0;
    bottom: 0;
    padding: 0;
  }
}
.all_shop .some_shop .shop_info h2 {
  font-size: 2.2rem;
  margin: 5% 0;
}
@media screen and (max-width: 1024px) {
  .all_shop .some_shop .shop_info h2 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 768px) {
  .all_shop .some_shop .shop_info h2 {
    font-size: 2.2rem;
  }
}
.all_shop .some_shop .shop_info p {
  font-size: 1.2rem;
  margin-top: 0;
}
@media screen and (max-width: 1024px) {
  .all_shop .some_shop .shop_info p {
    font-size: 0.9rem;
  }
}

.genre {
  width: 60%;
  min-width: 150px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
}
@media screen and (max-width: 768px) {
  .genre {
    margin: 3% 0;
  }
}
.genre span {
  color: #fff;
  font-weight: bold;
  background: #000;
  padding: 2% 0;
  margin: 0 2px;
  font-size: 1rem;
  width: 30%;
  text-align: center;
  max-width: 90px;
  min-width: 60px;
}
@media screen and (max-width: 1024px) {
  .genre span {
    font-size: 0.8rem;
  }
}

.floormap {
  margin-top: 200px;
  background-color: rgba(255, 255, 255, 0.543);
}
.floormap .maps {
  margin-top: 7%;
  padding-bottom: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .floormap .maps {
    flex-direction: column;
    align-items: center;
  }
}
.floormap .maps .hand_map {
  width: 40%;
  background-color: #fff;
  margin-right: 2%;
  box-shadow: 0 0 15px #000;
}
@media screen and (max-width: 768px) {
  .floormap .maps .hand_map {
    margin-top: 5%;
    width: 98%;
    margin-right: 0;
  }
}
.floormap .maps .hand_map img {
  width: 100%;
}
.floormap .maps .g_map {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}
@media screen and (max-width: 768px) {
  .floormap .maps .g_map {
    margin-top: 5%;
    width: 98%;
  }
}
.floormap .maps .g_map iframe {
  width: 100%;
  aspect-ratio: 3/4.5;
  box-shadow: 0 0 10px #000;
}
.floormap .maps .g_map a {
  width: 195px;
  font-family: hot-gfkaishokk, sans-serif;
  color: #fff;
  background-color: rgb(0, 0, 0);
  font-size: 2.7rem;
  margin-top: 50px;
  padding: 15px 20px;
  border-radius: 5px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 200px;
  background-color: #341800;
}
@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
  }
}
footer .com_info {
  margin: 10px;
  color: #fff;
  font-size: 1.5rem;
  align-self: flex-start;
}
@media screen and (max-width: 768px) {
  footer .com_info {
    font-size: 1rem;
  }
}
footer .f_logo {
  width: 300px;
  padding: 50px 0;
}
@media screen and (max-width: 768px) {
  footer .f_logo {
    width: 200px;
    padding: 0;
  }
}
footer .f_logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .f_link {
  align-self: flex-end;
}
@media screen and (max-width: 768px) {
  footer .f_link {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}
footer .f_link img {
  padding: 10px;
}
@media screen and (max-width: 768px) {
  footer .f_link img {
    width: 40px;
    height: 40px;
  }
}/*# sourceMappingURL=style.css.map */